<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MED-REC</title>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script src="./js/signup_form2.js"></script>
    <link rel="stylesheet" href="./css/add_pres.css">
</head>

<body>
    <nav class="navbar navbar-light" style="background-color: #117099;">

        <button style="border:none;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="drop">
                <h5 name="drname" style="color:white;"><%= currentUser.username %></h5>
            </div>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/userinfo">Profile</a>
                </li>
                <li>
                    <a class="nav-link" href="/logout">Logout</a>
                </li>

            </ul>
        </div>

        </div>
    </nav>
    <div class="container">
        <h2 style="margin-top:1em;">Prescription</h2>
        <div style="margin-top:1em;" class="form-group">
            <label for="FormName">Date</label>
            <input type="text" class="form-control" id="FormName" name="date" placeholder=<%=pres.date %> readonly>
        </div>

        <div style="margin-top:1em;" class="form-group">
            <label for="FormName">Patient Description</label>
            <textarea class="form-control" rows="3" id="FormName" name="patientdesc" readonly><%= pres.patientdesc %></textarea>
        </div>

        <div style="margin-top:1em;" class="form-group">
            <label for="FormName">Doctor Description</label>
            <textarea class="form-control" rows="3" id="FormName" name="doctordesc" readonly><%= pres.doctordesc %></textarea>
        </div>
        <!-- <div class="form-check">

                <input disabled="disabled" class="form-check-input" type="checkbox" value="Yes" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Test Reports
                  </label>
            </div> -->
        <div style="margin-top:1em;" class="form-group">
            <label for="FormName">Medicines</label>
            <textarea class="form-control" rows="3" id="FormName" name="medicines" readonly><%= pres.medicines %></textarea>
        </div>
        <center>
            <a href="/home"><button class="btn btn-primary">Home</button></a>
        </center>
    </div>
</body>

</html>